server {
  listen       80;
  server_name  45.77.79.163;
  #charset koi8-r;
  #access_log  logs/host.access.log  main;
  location / {
    rewrite ^(.*)$ http://45.77.79.163/Music/$1
  }
  location  ^~/Music/ {
    rewrite ^~/Music/(.*) /$1 break;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header Host $http_host;
    proxy_set_header X-NginX-Proxy true;
    proxy_pass       http://127.0.0.1:9000/;
    proxy_redirect off;
    # root  /opt/Music-Player/dist;
    # index  index.html index.htm;
    # autoindex on;
    # autoindex_exact_size on;
    # autoindex_localtime on;
  }
  location /api/ {
    proxy_pass http://localhost:9000;
  }
}
